@import url("../brewery-1/reset.css");

/* O reset vem primeiro */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root {
    --fonte-principal: 'Inter', sans-serif;
    --cor-principal: #667085;
    --cor-secundaria: #8E2424;
    --branco: #FFF;
    --cor-subtitulo: #101828;
    --cor-fundo-subtitulo: rgba(142, 36, 36, 0.05);
    --cor-fundo-depoimentos: rgba(195, 25, 25, 0.03);
    --cor-fundo-rodape: #F9FAFB;
    --cor-borda-oferta: #EAECF0;
    --cor-rodape: #98A2B3;
    --cor-borda-input: #D0D5DD;
    
}

body {
    font-family: var(--fonte-principal);
}
 .cabecalho__nav {
    font-family: var(--fonte-principal);
    display: flex;
    justify-content: space-between;
    padding: 1em 4em;
 }

.cabecalho__lista {
    list-style-type: none;
}

.cabecalho__lista li {
    display: inline;
}

.cabecalho__lista a {
    text-decoration: none;
    color: var(--cor-principal);
}

.lista__item {
    padding: 1em;
}

#cadastrar__botao {
    border: 1px solid var(--cor-secundaria);
    border-radius: 8px;
    color: var(--branco);
    background-color: var(--cor-secundaria);
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    padding: 6em 0 1em 0;
    
}

.card__subtitulo {
    color: var(--cor-secundaria);
    font-size: 1em;
}

.card__titulo {
    font-size: 3em;
}

.card__texto {
    color: var(--cor-principal);
    font-size: 1.25em;
    padding: 0 10em;
}

.metricas {
    display: inline-grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 0 10em
}

.metricas__container {
    padding: 0 0.5em;
    text-wrap: wrap;
}

.metricas__titulo {
    color: var(--cor-secundaria);
    font-size: 60px;
    font-weight: 600;
    margin: 1em 0 0 0;
}

.metricas__subtitulo {
    color: var(--cor-subtitulo);
    font-size: 18px;
    font-weight: 500;
}

.metricas__texto {
    color: var(--cor-principal);
    font-size: 16px;
    font-weight: 400;
}

.vagas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6em 0 1em 0;
}

.vagas__card {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.vagas__imagem {
    width: 80%;
}

.vagas__subtitulo {
    color: var(--cor-secundaria);
    font-size: 0.857em;
    background: var(--cor-fundo-subtitulo);
    border-radius: 16px;
    padding: 4px 12px;
    width: fit-content;
}

.vagas__titulo {
    font-size: 2em;
    font-weight: 600;
}

.vagas__texto {
    color: var(--cor-principal);
    font-size: 1.25em;
    margin-bottom: 3em;
}

.ofertas {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: center;
    align-items: center;
}

.ofertas__titulo {
    color: var(--cor-subtitulo);
    font-size: 1.25em;
    font-weight: 500;
}

.ofertas____post__titulo {
    font-size: 1.12em;
    color: var(--cor-subtitulo);
    
}
.ofertas__post {
    border: 1px solid var(--cor-borda-oferta);
    border-radius: 16px;
    padding: 24px;
    width: 50vw;
    /* margin: 0 auto; */
    margin-bottom: 24px;
}

.informacoes {
    color: var(--cor-principal);
    font-size: 1em;
    
}

.depoimentos {
    background: var(--cor-fundo-depoimentos);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 80%;
    gap: 32px;
    margin: 6em auto;
    
}

.depoimentos__subtitulo {
    color: var(--cor-secundaria);
    font-size: 0.85em;
    font-weight: 600;
    margin: 4em 0 1em 0;
}

.depoimentos__titulo {
    color: var(--cor-subtitulo);
    font-weight: 500;
    font-size: 2em;
    margin: 0 2em;
}

.depoimentos__autor {
    margin-bottom: 2em;
}

.depoimentos__autor__nome {
    color: var(--cor-subtitulo);
    font-weight: 500;
    margin: 0.5em 0 0.5em 0;
}

.depoimentos__autor__profissao {
    color: var(--cor-principal);
    font-size: 0.85em;
    font-weight: 400;
    margin: 0 0 2em 0;
    
}
/* rodape */
.rodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    background: var(--cor-fundo-rodape);
    padding: 96px 0;
}

.input__email {
    border: 1px solid var(--cor-borda-input);
    border-radius: 8px;
    background: var(--branco);
    padding: 15px 14px 15px 16px;
    align-self: stretch;
    width: 20%;
    margin: 0 1em;
    
}

.input__email::placeholder {
    color: var(--cor-principal);
    font-weight: 400;
    
}

#cadastrar__botao__input {
    border: 1px solid var(--cor-secundaria);
    border-radius: 8px;
    color: var(--branco);
    background-color: var(--cor-secundaria);
    padding: 12px 20px;
    
}

.rodape__texto {
    text-align: center;
    font-weight: 400;
    color: var(--cor-rodape);
    
    
}