@import url("../brewery-1/reset.css");

/* O reset vem primeiro */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root {
    --fonte-principal: 'Inter', sans-serif;
    --cor-principal: #667085;
    --cor-secundaria: #8E2424;
    --branco: #FFF;
    --cor-subtitulo: #101828;
}

body {
    font-family: var(--fonte-principal);
}
 .cabecalho__nav {
    font-family: var(--fonte-principal);
    display: flex;
    justify-content: space-between;
    padding: 1em 4em;
 }

.cabecalho__lista {
    list-style-type: none;
}

.cabecalho__lista li {
    display: inline;
}

.cabecalho__lista a {
    text-decoration: none;
    color: var(--cor-principal);
}

.lista__item {
    padding: 1em;
}

#cadastrar__botao {
    border: 1px solid var(--cor-secundaria);
    border-radius: 8px;
    color: var(--branco);
    background-color: var(--cor-secundaria);
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card__subtitulo {
    color: var(--cor-secundaria);
    font-size: 1em;

}

.card__titulo {
    font-size: 3em;
}

.card__texto {
    color: var(--cor-principal);
    font-size: 1.25em;
}

.metricas {
    display: flex;
    justify-content: space-around;
}

.metricas__container {
    padding: 1em;
    margin: 0 2em;
    flex-wrap: wrap;
}

.metricas__titulo {
    color: var(--cor-secundaria);
    font-size: 60px;
    font-size: 600;
}

.metricas__subtitulo {
    color: var(--cor-subtitulo);
    font-size: 18px;
    font-weight: 500;
}

.metricas__texto {
    color: var(--cor-principal);
    font-size: 16px;
    font-weight: 400;
}

.vagas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vagas__card {
    text-align: center;
}

.vagas__imagem {
    width: 80%;
}